In [1]:
import pandas as pd

data = {
    'date': [
        '2000-01-01', '2000-02-01', '2000-03-01', '2000-04-01', '2000-05-01',
        '2013-05-01', '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01'
    ],
    'city': [
        'Abidjan', 'Abidjan', 'Abidjan', 'Abidjan', 'Abidjan',
        'Xian', 'Xian', 'Xian', 'Xian', 'Xian'
    ],
    'country': [
        "Côte D'Ivoire", "Côte D'Ivoire", "Côte D'Ivoire", "Côte D'Ivoire", "Côte D'Ivoire",
        'China', 'China', 'China', 'China', 'China'
    ],
    'avg_temp_c': [
        27.293, 27.685, 29.061, 28.162, 27.547,
        18.979, 23.522, 25.251, 24.528, None
    ]
}

df = pd.DataFrame(data)

# Display the DataFrame
print(df)

         date     city        country  avg_temp_c
0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4  2000-05-01  Abidjan  Côte D'Ivoire      27.547
5  2013-05-01     Xian          China      18.979
6  2013-06-01     Xian          China      23.522
7  2013-07-01     Xian          China      25.251
8  2013-08-01     Xian          China      24.528
9  2013-09-01     Xian          China         NaN

In [3]:
import pandas as pd

data = {
    'date': [
        '2000-01-01', '2000-02-01', '2000-03-01', '2000-04-01', '2000-05-01',
        '2013-05-01', '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01'
    ],
    'city': [
        'Abidjan', 'Abidjan', 'Abidjan', 'Abidjan', 'Abidjan',
        'Xian', 'Xian', 'Xian', 'Xian', 'Xian'
    ],
    'country': [
        "Côte D'Ivoire", "Côte D'Ivoire", "Côte D'Ivoire", "Côte D'Ivoire", "Côte D'Ivoire",
        'China', 'China', 'China', 'China', 'China'
    ],
    'avg_temp_c': [
        27.293, 27.685, 29.061, 28.162, 27.547,
        18.979, 23.522, 25.251, 24.528, None
    ]
}

temperatures = pd.DataFrame(data)

# Look at temperatures
print(temperatures)

# Set the index of temperatures to city
temperatures_ind = temperatures.set_index('city')

# Look at temperatures_ind
print(temperatures_ind)

# Reset the temperatures_ind index, keeping its contents
print(temperatures_ind.reset_index())

# Reset the temperatures_ind index, dropping its contents
print(temperatures_ind.reset_index(drop=True))

         date     city        country  avg_temp_c
0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4  2000-05-01  Abidjan  Côte D'Ivoire      27.547
5  2013-05-01     Xian          China      18.979
6  2013-06-01     Xian          China      23.522
7  2013-07-01     Xian          China      25.251
8  2013-08-01     Xian          China      24.528
9  2013-09-01     Xian          China         NaN
               date        country  avg_temp_c
city
Abidjan  2000-01-01  Côte D'Ivoire      27.293
Abidjan  2000-02-01  Côte D'Ivoire      27.685
Abidjan  2000-03-01  Côte D'Ivoire      29.061
Abidjan  2000-04-01  Côte D'Ivoire      28.162
Abidjan  2000-05-01  Côte D'Ivoire      27.547
Xian     2013-05-01          China      18.979
Xian     2013-06-01          China      23.522
Xian     2013-07-01          China      25.251
Xian     2013-08-01          China      24.528
Xian     2013-09-01          China         NaN
      city        date        country  avg_temp_c
0  Abidjan  2000-01-01  Côte D'Ivoire      27.293
1  Abidjan  2000-02-01  Côte D'Ivoire      27.685
2  Abidjan  2000-03-01  Côte D'Ivoire      29.061
3  Abidjan  2000-04-01  Côte D'Ivoire      28.162
4  Abidjan  2000-05-01  Côte D'Ivoire      27.547
5     Xian  2013-05-01          China      18.979
6     Xian  2013-06-01          China      23.522
7     Xian  2013-07-01          China      25.251
8     Xian  2013-08-01          China      24.528
9     Xian  2013-09-01          China         NaN
         date        country  avg_temp_c
0  2000-01-01  Côte D'Ivoire      27.293
1  2000-02-01  Côte D'Ivoire      27.685
2  2000-03-01  Côte D'Ivoire      29.061
3  2000-04-01  Côte D'Ivoire      28.162
4  2000-05-01  Côte D'Ivoire      27.547
5  2013-05-01          China      18.979
6  2013-06-01          China      23.522
7  2013-07-01          China      25.251
8  2013-08-01          China      24.528
9  2013-09-01          China         NaN

In [5]:
import pandas as pd

data = {
    'date': [
        '2000-01-01', '2000-02-01', '2000-03-01', '2000-04-01', '2000-05-01',
        '2013-05-01', '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01'
    ],
    'city': [
        'Abidjan', 'Abidjan', 'Abidjan', 'Abidjan', 'Abidjan',
        'Xian', 'Xian', 'Xian', 'Xian', 'Xian'
    ],
    'country': [
        "Côte D'Ivoire", "Côte D'Ivoire", "Côte D'Ivoire", "Côte D'Ivoire", "Côte D'Ivoire",
        'China', 'China', 'China', 'China', 'China'
    ],
    'avg_temp_c': [
        27.293, 27.685, 29.061, 28.162, 27.547,
        18.979, 23.522, 25.251, 24.528, None
    ]
}

temperatures = pd.DataFrame(data)

# Sort temperatures_ind by index values
print(temperatures_ind.sort_index())

# Sort temperatures_ind by index values at the city level
print(temperatures_ind.sort_index(level='city'))




# Sort temperatures_ind by country then descending city


print(temperatures_ind.sort_index(level=['country', 'city'], ascending=[True, False]))

                             date  avg_temp_c
country       city
China         Xian     2013-05-01      18.979
              Xian     2013-06-01      23.522
              Xian     2013-07-01      25.251
              Xian     2013-08-01      24.528
              Xian     2013-09-01         NaN
Côte D'Ivoire Abidjan  2000-01-01      27.293
              Abidjan  2000-02-01      27.685
              Abidjan  2000-03-01      29.061
              Abidjan  2000-04-01      28.162
              Abidjan  2000-05-01      27.547
                             date  avg_temp_c
country       city
Côte D'Ivoire Abidjan  2000-01-01      27.293
              Abidjan  2000-02-01      27.685
              Abidjan  2000-03-01      29.061
              Abidjan  2000-04-01      28.162
              Abidjan  2000-05-01      27.547
China         Xian     2013-05-01      18.979
              Xian     2013-06-01      23.522
              Xian     2013-07-01      25.251
              Xian     2013-08-01      24.528
              Xian     2013-09-01         NaN
                             date  avg_temp_c
country       city
China         Xian     2013-05-01      18.979
              Xian     2013-06-01      23.522
              Xian     2013-07-01      25.251
              Xian     2013-08-01      24.528
              Xian     2013-09-01         NaN
Côte D'Ivoire Abidjan  2000-01-01      27.293
              Abidjan  2000-02-01      27.685
              Abidjan  2000-03-01      29.061
              Abidjan  2000-04-01      28.162
              Abidjan  2000-05-01      27.547

In [ ]:

import pandas as pd

data = {
    'date': [
        '2000-01-01', '2000-02-01', '2000-03-01', '2000-04-01', '2000-05-01',
        '2013-05-01', '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01'
    ],
    'city': [
        'Abidjan', 'Abidjan', 'Abidjan', 'Abidjan', 'Abidjan',
        'Xian', 'Xian', 'Xian', 'Xian', 'Xian'
    ],
    'country': [
        "Côte D'Ivoire", "Côte D'Ivoire", "Côte D'Ivoire", "Côte D'Ivoire", "Côte D'Ivoire",
        'China', 'China', 'China', 'China', 'China'
    ],
    'avg_temp_c': [
        27.293, 27.685, 29.061, 28.162, 27.547,
        18.979, 23.522, 25.251, 24.528, None
    ]
}

temperatures = pd.DataFrame(data)



# Make a list of cities to subset on
cities = ["Moscow", "Saint Petersburg"]

# Subset temperatures using square brackets

print(temperatures[temperatures['city'].isin(cities)])

# Subset temperatures_ind using .loc[]
print(temperatures_ind.loc[cities])

In [ ]:
import pandas as pd

data = {
    'date': [
        '2000-01-01', '2000-02-01', '2000-03-01', '2000-04-01', '2000-05-01',
        '2013-05-01', '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01'
    ],
    'city': [
        'Abidjan', 'Abidjan', 'Abidjan', 'Abidjan', 'Abidjan',
        'Xian', 'Xian', 'Xian', 'Xian', 'Xian'
    ],
    'country': [
        "Côte D'Ivoire", "Côte D'Ivoire", "Côte D'Ivoire", "Côte D'Ivoire", "Côte D'Ivoire",
        'China', 'China', 'China', 'China', 'China'
    ],
    'avg_temp_c': [
        27.293, 27.685, 29.061, 28.162, 27.547,
        18.979, 23.522, 25.251, 24.528, None
    ]
}

temperatures = pd.DataFrame(data)



# Index temperatures by country & city
temperatures_ind = temperatures.set_index(['country','city'])

# List of tuples: Brazil, Rio De Janeiro & Pakistan, Lahore

rows_to_keep = [("Brazil", "Rio De Janeiro"), ("Pakistan", "Lahore")]

# Subset for rows to keep
print(temperatures_ind.loc[rows_to_keep])