In [5]:
import pandas as pd

data = {
    'store': [1, 1, 1, 1, 1, 39, 39, 39, 39, 39],
    'type': ['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A'],
    'department': [1, 1, 1, 1, 1, 99, 99, 99, 99, 99],
    'date': ['2010-02-05', '2010-03-05', '2010-04-02', '2010-05-07', '2010-06-04', '2011-12-09', '2012-02-03', '2012-06-08', '2012-07-13', '2012-10-05'],
    'weekly_sales': [24924.50, 21827.90, 57258.43, 17413.94, 17558.09, 895.00, 350.00, 450.00, 0.06, 915.00],
    'is_holiday': [False, False, False, False, False, False, False, False, False, False],
    'temperature_c': [5.728, 8.056, 16.817, 22.528, 27.050, 9.644, 15.939, 27.289, 25.644, 22.250],
    'fuel_price_usd_per_l': [0.679, 0.693, 0.718, 0.749, 0.715, 0.834, 0.888, 0.912, 0.860, 0.956],
    'unemployment': [8.106, 8.106, 7.808, 7.808, 7.808, 7.716, 7.244, 6.989, 6.623, 6.228]
}

sales = pd.DataFrame(data)
# Print the head of the sales DataFrame
print(sales.head())

# Print the info about the sales DataFrame
print(sales.info())

# Print the mean of weekly_sales
print(sales['weekly_sales'].mean())

# Print the median of weekly_sales
print(sales['weekly_sales'].median())

   store type  department        date  weekly_sales  is_holiday  \
0      1    A           1  2010-02-05      24924.50       False
1      1    A           1  2010-03-05      21827.90       False
2      1    A           1  2010-04-02      57258.43       False
3      1    A           1  2010-05-07      17413.94       False
4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0          5.728                 0.679         8.106
1          8.056                 0.693         8.106
2         16.817                 0.718         7.808
3         22.528                 0.749         7.808
4         27.050                 0.715         7.808
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store                 10 non-null     int64
 1   type                  10 non-null     object
 2   department            10 non-null     int64
 3   date                  10 non-null     object
 4   weekly_sales          10 non-null     float64
 5   is_holiday            10 non-null     bool
 6   temperature_c         10 non-null     float64
 7   fuel_price_usd_per_l  10 non-null     float64
 8   unemployment          10 non-null     float64
dtypes: bool(1), float64(4), int64(2), object(2)
memory usage: 778.0+ bytes
None
14159.291999999998
9164.47

In [6]:
import pandas as pd

data = {
    'store': [1, 1, 1, 1, 1, 39, 39, 39, 39, 39],
    'type': ['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A'],
    'department': [1, 1, 1, 1, 1, 99, 99, 99, 99, 99],
    'date': ['2010-02-05', '2010-03-05', '2010-04-02', '2010-05-07', '2010-06-04', '2011-12-09', '2012-02-03', '2012-06-08', '2012-07-13', '2012-10-05'],
    'weekly_sales': [24924.50, 21827.90, 57258.43, 17413.94, 17558.09, 895.00, 350.00, 450.00, 0.06, 915.00],
    'is_holiday': [False, False, False, False, False, False, False, False, False, False],
    'temperature_c': [5.728, 8.056, 16.817, 22.528, 27.050, 9.644, 15.939, 27.289, 25.644, 22.250],
    'fuel_price_usd_per_l': [0.679, 0.693, 0.718, 0.749, 0.715, 0.834, 0.888, 0.912, 0.860, 0.956],
    'unemployment': [8.106, 8.106, 7.808, 7.808, 7.808, 7.716, 7.244, 6.989, 6.623, 6.228]
}

sales = pd.DataFrame(data)

# Print the maximum of the date column
print(sales['date'].max())

# Print the minimum of the date column
print(sales['date'].min())

2012-10-05
2010-02-05

In [7]:
import pandas as pd

data = {
    'store': [1, 1, 1, 1, 1, 39, 39, 39, 39, 39],
    'type': ['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A'],
    'department': [1, 1, 1, 1, 1, 99, 99, 99, 99, 99],
    'date': ['2010-02-05', '2010-03-05', '2010-04-02', '2010-05-07', '2010-06-04', '2011-12-09', '2012-02-03', '2012-06-08', '2012-07-13', '2012-10-05'],
    'weekly_sales': [24924.50, 21827.90, 57258.43, 17413.94, 17558.09, 895.00, 350.00, 450.00, 0.06, 915.00],
    'is_holiday': [False, False, False, False, False, False, False, False, False, False],
    'temperature_c': [5.728, 8.056, 16.817, 22.528, 27.050, 9.644, 15.939, 27.289, 25.644, 22.250],
    'fuel_price_usd_per_l': [0.679, 0.693, 0.718, 0.749, 0.715, 0.834, 0.888, 0.912, 0.860, 0.956],
    'unemployment': [8.106, 8.106, 7.808, 7.808, 7.808, 7.716, 7.244, 6.989, 6.623, 6.228]
}

sales = pd.DataFrame(data)

# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Print IQR of the temperature_c column
print(sales['temperature_c'].agg(iqr))

# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", 'fuel_price_usd_per_l', 'unemployment']].agg(iqr))

13.647249999999998

In [8]:
import pandas as pd

data = {
    'store': [1, 1, 1, 1, 1, 39, 39, 39, 39, 39],
    'type': ['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A'],
    'department': [1, 1, 1, 1, 1, 99, 99, 99, 99, 99],
    'date': ['2010-02-05', '2010-03-05', '2010-04-02', '2010-05-07', '2010-06-04', '2011-12-09', '2012-02-03', '2012-06-08', '2012-07-13', '2012-10-05'],
    'weekly_sales': [24924.50, 21827.90, 57258.43, 17413.94, 17558.09, 895.00, 350.00, 450.00, 0.06, 915.00],
    'is_holiday': [False, False, False, False, False, False, False, False, False, False],
    'temperature_c': [5.728, 8.056, 16.817, 22.528, 27.050, 9.644, 15.939, 27.289, 25.644, 22.250],
    'fuel_price_usd_per_l': [0.679, 0.693, 0.718, 0.749, 0.715, 0.834, 0.888, 0.912, 0.860, 0.956],
    'unemployment': [8.106, 8.106, 7.808, 7.808, 7.808, 7.716, 7.244, 6.989, 6.623, 6.228]
}

sales = pd.DataFrame(data)

# Import NumPy and create custom IQR function
import numpy as np
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr,np.median]))

        temperature_c  fuel_price_usd_per_l  unemployment
iqr          13.64725               0.16525       0.75525
median       19.53350               0.79150       7.76200

In [10]:
import pandas as pd

data = {
    'store': [1, 1, 1, 1, 1, 39, 39, 39, 39, 39],
    'type': ['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A'],
    'department': [1, 1, 1, 1, 1, 99, 99, 99, 99, 99],
    'date': ['2010-02-05', '2010-03-05', '2010-04-02', '2010-05-07', '2010-06-04', '2011-12-09', '2012-02-03', '2012-06-08', '2012-07-13', '2012-10-05'],
    'weekly_sales': [24924.50, 21827.90, 57258.43, 17413.94, 17558.09, 895.00, 350.00, 450.00, 0.06, 915.00],
    'is_holiday': [False, False, False, False, False, False, False, False, False, False],
    'temperature_c': [5.728, 8.056, 16.817, 22.528, 27.050, 9.644, 15.939, 27.289, 25.644, 22.250],
    'fuel_price_usd_per_l': [0.679, 0.693, 0.718, 0.749, 0.715, 0.834, 0.888, 0.912, 0.860, 0.956],
    'unemployment': [8.106, 8.106, 7.808, 7.808, 7.808, 7.716, 7.244, 6.989, 6.623, 6.228]
}

sales = pd.DataFrame(data)


# Sort sales_1_1 by date
sales_1_1 = sales.sort_values('date')

# Get the cumulative sum of weekly_sales, add as cum_weekly_sales col
sales_1_1['cum_weekly_sales'] = sales['weekly_sales'].cumsum()

# Get the cumulative max of weekly_sales, add as cum_max_sales col
sales_1_1['cum_max_sales']=(sales['weekly_sales'].cummax())

# See the columns you calculated
print(sales_1_1[["date", "weekly_sales", "cum_weekly_sales", "cum_max_sales"]])

         date  weekly_sales  cum_weekly_sales  cum_max_sales
0  2010-02-05      24924.50          24924.50       24924.50
1  2010-03-05      21827.90          46752.40       24924.50
2  2010-04-02      57258.43         104010.83       57258.43
3  2010-05-07      17413.94         121424.77       57258.43
4  2010-06-04      17558.09         138982.86       57258.43
5  2011-12-09        895.00         139877.86       57258.43
6  2012-02-03        350.00         140227.86       57258.43
7  2012-06-08        450.00         140677.86       57258.43
8  2012-07-13          0.06         140677.92       57258.43
9  2012-10-05        915.00         141592.92       57258.43