In [2]:
def add(a,b):
  print(a+b)
add(2,3)

def sub(a,b):
  pass        #pass means this function would be continue later, currently ignore it

5

In [7]:
def calculateGmean(a, b):
  mean = (a*b)/(a+b)
  print(mean)

def isGreater(a, b):
  if(a>b):
    print("First number is greater")
  else:
    print("Second number is greater or equal")



a = 9
b = 8
isGreater(a, b)
calculateGmean(a, b)

print("next value")
c = 8
d = 74
isGreater(c, d)
calculateGmean(c, d)

First number is greater
4.235294117647059
next value
Second number is greater or equal
7.219512195121951

In [16]:
def add(a=100,b=500):
  print(a+b)
add(2,3)
add()
add(2)
add(b=3)
add(b=3,a=2)

5
600
502
103
5

In [15]:
def add(a,b=5):
  print(a+b)
add(2)

7

In [20]:
# tuple taken as arg
def average(*numbers):
  print(type(numbers))
  sum = 0
  for i in numbers:
    print(i)
    sum = sum + i
  print("Average is: ", sum / len(numbers))

average(5,6,10,14)

<class 'tuple'>
5
6
10
14
Average is:  8.75

In [22]:
# dictionary taken as arg

def name(**name):
  print(type(name))
  print("Hello,", name["fname"], name["mname"], name["lname"])


name(mname="Buchanan", lname="Barnes", fname="James")

<class 'dict'>
Hello, James Buchanan Barnes

In [24]:
def add(a,b):
  return(a+b)
  return(a-b)   #only first return value is seen

c=add(2,3)
print(c)

5