In [8]:
#set dont contain repeated object
s={5,4,2,5,4}
print(s)

{2, 4, 5}

In [23]:
# sets are unordered
# set are immutable
y={} 
print(type(y))    #<class 'dict'>

#this create the dictionary so to create set y = set() needed to do

<class 'dict'>

In [34]:
s1={1,2,5,6}
s2={3,6,7}
print(s1.union(s2))   #repeated is removed and union done
s1.update(s2)         #this means add value to s1 which are in s2 not in s1
print(s1,s2)
print("\n")

s1={1,2,5,6}
s2={3,6,7}
print(s1.intersection(s2))
print(s1,s2)                  #s1 doesnt get updated
print("\n")

s1={1,2,5,6}
s2={3,6,7}
print(s1.symmetric_difference(s2))

{1, 2, 3, 5, 6, 7}
{1, 2, 3, 5, 6, 7} {3, 6, 7}


{6}
{1, 2, 5, 6} {3, 6, 7}


{1, 2, 3, 5, 7}
{1, 2, 5, 6} {3, 6, 7}