In [3]:
t=(5,"miss",True)
print(t)
print(type(t))

t=(5)   #<class 'int'> , if it is tuple do t=(5,)
t1=(5,)   #<class 'tuple'>
print(t)
print(type(t))
print(type(t1))

(5, 'miss', True)
<class 'tuple'>
5
<class 'int'>
<class 'tuple'>

In [ ]:
#immutable
#sequence data type

In [4]:
t=(5,"miss",True)
if 5 in t:
  print("5 present")

5 present

In [6]:
t=(5,"miss",True,5,3,52)
print(t[1:6])

('miss', True, 5, 3, 52)

In [7]:
#tuples being immutable, for any changes need to be converted to list
#concatenating is possiple in tuple

even=(2,4,6,8)
odd=(1,3,5,7)
num=even + odd
print(num)

(2, 4, 6, 8, 1, 3, 5, 7)

In [12]:
t=(2,4,1,4,6,3,1,6,7)

print(t.count(4))

print(t.index(7))
print(t.index(7,1,9))   #(element,start,end)

2
8
8