In [3]:
import pandas as pd

data = {
    'account': [307071, 10, 10002, 10005, 10044, 8634, 86350, 86352, 86355, 86373],
    'ward': [3, 10, 14, 12, 44, 10, 42, 23, 43, 20],
    'aid': [743, 829, 775, None, 638, None, 708, 775, 638, 775],
    'business': [
        "REGGIE'S BAR & GRILL", "HONEYBEERS", "CELINA DELI", "KRAFT FOODS NORTH AMERICA",
        "NEYBOUR'S TAVERN & GRILLE", "J M V CORP", "AMERICASH LOANS LLC", "MC DONALD'S",
        "VOSGES HAUT-CHOCOLAT", "ALMUFLIHI FOOD & LIQUOR"
    ],
    'address': [
        "2105 S STATE ST", "13200 S HOUSTON AVE", "5089 S ARCHER AVE", "2005 W 43RD ST",
        "3651 N SOUTHPORT AVE", "2717 E 95TH ST", "103 N WELLS ST 1ST", "6720 W ARCHER AVE 1",
        "951 W ARMITAGE AVE 1", "5400-5404 S HALSTED ST 1ST"
    ],
    'zip': [60616, 60633, 60632, 60609, 60613, 60617, 60606, 60638, 60614, 60609]
}

licenses = pd.DataFrame(data)

data2 = {
    'account': [10, 10, 10002, 10002, 86350, 9513, 9563, 86350, 86350, 9933],
    'first_name': ['PEARL', 'PEARL', 'WALTER', 'CELINA', 'IRENE', 'THOMAS', 'GUADALUPE', 'STEVEN', 'MANUEL', 'MICHAEL'],
    'last_name': ['SHERMAN', 'SHERMAN', 'MROZEK', 'BYRDAK', 'ROSENFELD', 'MAHLUM', 'PEREZ', 'JENSEN', 'SALAZAR', 'KNAB'],
    'title': ['PRESIDENT', 'SECRETARY', 'PARTNER', 'PARTNER', 'PRESIDENT', 'SECRETARY', 'PRESIDENT', 'VICE PRESIDENT', 'SECRETARY', 'PRESIDENT']
}

# Create the dataframe
biz_owners = pd.DataFrame(data2)

# Merge the licenses and biz_owners table on account
licenses_owners = licenses.merge(biz_owners, on="account")

print(licenses_owners)

   account  ward    aid             business              address    zip  \
0       10    10  829.0           HONEYBEERS  13200 S HOUSTON AVE  60633
1       10    10  829.0           HONEYBEERS  13200 S HOUSTON AVE  60633
2    10002    14  775.0          CELINA DELI    5089 S ARCHER AVE  60632
3    10002    14  775.0          CELINA DELI    5089 S ARCHER AVE  60632
4    86350    42  708.0  AMERICASH LOANS LLC   103 N WELLS ST 1ST  60606
5    86350    42  708.0  AMERICASH LOANS LLC   103 N WELLS ST 1ST  60606
6    86350    42  708.0  AMERICASH LOANS LLC   103 N WELLS ST 1ST  60606

  first_name  last_name           title
0      PEARL    SHERMAN       PRESIDENT
1      PEARL    SHERMAN       SECRETARY
2     WALTER     MROZEK         PARTNER
3     CELINA     BYRDAK         PARTNER
4      IRENE  ROSENFELD       PRESIDENT
5     STEVEN     JENSEN  VICE PRESIDENT
6     MANUEL    SALAZAR       SECRETARY

In [4]:
import pandas as pd

data = {
    'account': [307071, 10, 10002, 10005, 10044, 8634, 86350, 86352, 86355, 86373],
    'ward': [3, 10, 14, 12, 44, 10, 42, 23, 43, 20],
    'aid': [743, 829, 775, None, 638, None, 708, 775, 638, 775],
    'business': [
        "REGGIE'S BAR & GRILL", "HONEYBEERS", "CELINA DELI", "KRAFT FOODS NORTH AMERICA",
        "NEYBOUR'S TAVERN & GRILLE", "J M V CORP", "AMERICASH LOANS LLC", "MC DONALD'S",
        "VOSGES HAUT-CHOCOLAT", "ALMUFLIHI FOOD & LIQUOR"
    ],
    'address': [
        "2105 S STATE ST", "13200 S HOUSTON AVE", "5089 S ARCHER AVE", "2005 W 43RD ST",
        "3651 N SOUTHPORT AVE", "2717 E 95TH ST", "103 N WELLS ST 1ST", "6720 W ARCHER AVE 1",
        "951 W ARMITAGE AVE 1", "5400-5404 S HALSTED ST 1ST"
    ],
    'zip': [60616, 60633, 60632, 60609, 60613, 60617, 60606, 60638, 60614, 60609]
}

licenses = pd.DataFrame(data)

data2 = {
    'account': [10, 10, 10002, 10002, 86350, 9513, 9563, 86350, 86350, 9933],
    'first_name': ['PEARL', 'PEARL', 'WALTER', 'CELINA', 'IRENE', 'THOMAS', 'GUADALUPE', 'STEVEN', 'MANUEL', 'MICHAEL'],
    'last_name': ['SHERMAN', 'SHERMAN', 'MROZEK', 'BYRDAK', 'ROSENFELD', 'MAHLUM', 'PEREZ', 'JENSEN', 'SALAZAR', 'KNAB'],
    'title': ['PRESIDENT', 'SECRETARY', 'PARTNER', 'PARTNER', 'PRESIDENT', 'SECRETARY', 'PRESIDENT', 'VICE PRESIDENT', 'SECRETARY', 'PRESIDENT']
}

# Create the dataframe
biz_owners = pd.DataFrame(data2)

# Merge the licenses and biz_owners table on account
licenses_owners = licenses.merge(biz_owners, on="account")

# Group the results by title then count the number of accounts
counted_df = licenses_owners.groupby("title").agg({'account':'count'})
print(counted_df)

# Sort the counted_df in desending order
sorted_df = counted_df.sort_values("account", ascending=False)

# Use .head() method to print the first few rows of sorted_df
print(sorted_df.head())

                account
title
PARTNER               2
PRESIDENT             2
SECRETARY             2
VICE PRESIDENT        1
                account
title
PARTNER               2
PRESIDENT             2
SECRETARY             2
VICE PRESIDENT        1