In [4]:
import pandas as pd

movie_data = {
    'id': [257, 14290, 38365, 9672, 12819, 3089, 11934, 13807, 73873, 11622],
    'title': ['Oliver Twist', 'Better Luck Tomorrow', 'Grown Ups', 'Infamous', 'Alpha and Omega', 'Red River', 'The Hudsucker Proxy', 'Exiled', 'Albert Nobbs', 'Blast from the Past'],
    'popularity': [20.416, 3.877, 38.864, 3.681, 12.301, 5.345, 14.189, 8.486, 7.802, 8.737],
    'release_date': ['2005-09-23', '2002-01-12', '2010-06-24', '2006-11-16', '2010-09-17', '1948-08-26', '1994-03-11', '2006-09-06', '2011-12-21', '1999-02-12']
}

movies = pd.DataFrame(movie_data)

ratings_data = {
    'id': [19995, 285, 20142906647, 49026, 14290, 12819, 72766, 73873, 126186, 25975],
    'vote_average': [7.2, 6.9, 6.3, 7.6, 6.1, 6.6, 5.9, 7.0, 5.7, 6.3],
    'vote_count': [11800.0, 4500.0, 4466.0, 9106.0, 2124.0, 238.0, 5.0, 6.0, 7.0, 16.0]
}

# Create the DataFrame
ratings = pd.DataFrame(ratings_data)


# Merge to the movies table the ratings table on the index
movies_ratings = movies.merge(ratings, on='id')

# Print the first few rows of movies_ratings
print(movies_ratings.head())

      id                 title  popularity release_date  vote_average  \
0  14290  Better Luck Tomorrow       3.877   2002-01-12           6.1
1  12819       Alpha and Omega      12.301   2010-09-17           6.6
2  73873          Albert Nobbs       7.802   2011-12-21           7.0

   vote_count
0      2124.0
1       238.0
2         6.0

In [7]:
import pandas as pd

sequels_data = {
    'id': [19995, 862, 863, 597, 24428, 133931, 309503, 34592, 206213, 185567],
    'title': ['Avatar', 'Toy Story', 'Toy Story 2', 'Titanic', 'The Avengers', 'Zambezia', 'Zipper', 'ZMD: Zombies of Mass Destruction', 'Zombie Hunter', 'Zulu'],
    'sequel': [pd.NA, 863, 10193, pd.NA, pd.NA, pd.NA, pd.NA, pd.NA, pd.NA, pd.NA]
}

sequels = pd.DataFrame(sequels_data)

financials_data = {
    'id': [19995, 285, 309503, 49026, 862, 2292, 692, 36095, 14337, 9367],
    'budget': [237000000, 300000000, 245000000, 250000000, 260000000, 27000, 12000, 20000, 7000, 220000],
    'revenue': [2.788e9, 9.61e8, 8.807e8, 1.085e9, 2.841e8, 3.151e6, 6e6, 9.9e4, 4.248e5, 2.041e6]
}

# Create the DataFrame
financials = pd.DataFrame(financials_data)


# Merge sequels and financials on index id
sequels_fin = sequels.merge(financials, on='id', how='left')
print(sequels_fin)

# Self merge with suffixes as inner join with left on sequel and right on id
orig_seq = sequels_fin.merge(sequels_fin, how='inner', left_on='sequel',
                             right_on='id', right_index=True,
                             suffixes=('_org','_seq'))
print(orig_seq)

# Add calculation to subtract revenue_org from revenue_seq
orig_seq['diff'] = orig_seq['revenue_seq'] - orig_seq['revenue_org']

# Select the title_org, title_seq, and diff
titles_diff = orig_seq[['title_org','title_seq','diff']]

# Print the first rows of the sorted titles_diff
print(titles_diff.sort_values('diff',ascending=False).head())

       id                             title sequel       budget       revenue
0   19995                            Avatar   <NA>  237000000.0  2.788000e+09
1     862                         Toy Story    863  260000000.0  2.841000e+08
2     863                       Toy Story 2  10193          NaN           NaN
3     597                           Titanic   <NA>          NaN           NaN
4   24428                      The Avengers   <NA>          NaN           NaN
5  133931                          Zambezia   <NA>          NaN           NaN
6  309503                            Zipper   <NA>  245000000.0  8.807000e+08
7   34592  ZMD: Zombies of Mass Destruction   <NA>          NaN           NaN
8  206213                     Zombie Hunter   <NA>          NaN           NaN
9  185567                              Zulu   <NA>          NaN           NaN
Empty DataFrame
Columns: [sequel, id_org, title_org, sequel_org, budget_org, revenue_org, id_seq, title_seq, sequel_seq, budget_seq, revenue_seq]
Index: []
Empty DataFrame
Columns: [title_org, title_seq, diff]
Index: []