In [3]:

import pandas as pd

# Creating a dictionary with the data
data = {
    "country": ["Pakistan", "Pakistan", "Pakistan", "Pakistan", "Pakistan",
                "Russia", "Russia", "Russia", "Russia", "Russia",
                "Mexico", "Mexico", "Mexico", "Mexico", "Mexico",
                "Morocco", "Morocco", "Morocco", "Morocco", "Morocco",
                "Pakistan", "Pakistan", "Pakistan", "Pakistan", "Pakistan",
                "Russia", "Russia", "Russia", "Russia", "Russia"],
    "city": ["Faisalabad", "Faisalabad", "Faisalabad", "Faisalabad", "Faisalabad",
             "Saint Petersburg", "Saint Petersburg", "Saint Petersburg", "Saint Petersburg", "Saint Petersburg",
             "Mexico", "Mexico", "Mexico", "Mexico", "Mexico",
             "Casablanca", "Casablanca", "Casablanca", "Casablanca", "Casablanca",
             "Lahore", "Lahore", "Lahore", "Lahore", "Lahore",
             "Moscow", "Moscow", "Moscow", "Moscow", "Moscow"],
    "date": ["2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01",
             "2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01",
             "2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01"],
    "avg_temp_c": [12.792, 14.339, 20.309, 29.072, 34.845,
                   12.355, 17.185, 17.234, 17.153, None,
                   12.694, 14.677, 17.376, 18.294, 18.562,
                   19.217, 23.649, 27.488, 27.952, None,
                   12.792, 14.339, 20.309, 29.072, 34.845,
                   16.152, 18.718, 18.136, 17.485, None]
}

temperatures_ind = pd.DataFrame(data)

# Sort the index of temperatures_ind
temperatures_srt = temperatures_ind.sort_index()
# Subset rows from Pakistan to Russia
print(temperatures_srt.loc["Pakistan":"Russia"])

# Try to subset rows from Lahore to Moscow
print(temperatures_srt.loc["Lahore":"Moscow"])

# Subset rows from Pakistan, Lahore to Russia, Moscow
# print(temperatures_srt.loc[("Pakistan","Faisalabad "):("Russia","Moscow")])

Empty DataFrame
Columns: [country, city, date, avg_temp_c]
Index: []
Empty DataFrame
Columns: [country, city, date, avg_temp_c]
Index: []

In [ ]:

import pandas as pd

# Creating a dictionary with the data
data = {
    "country": ["Pakistan", "Pakistan", "Pakistan", "Pakistan", "Pakistan",
                "Russia", "Russia", "Russia", "Russia", "Russia",
                "Mexico", "Mexico", "Mexico", "Mexico", "Mexico",
                "Morocco", "Morocco", "Morocco", "Morocco", "Morocco",
                "Pakistan", "Pakistan", "Pakistan", "Pakistan", "Pakistan",
                "Russia", "Russia", "Russia", "Russia", "Russia"],
    "city": ["Faisalabad", "Faisalabad", "Faisalabad", "Faisalabad", "Faisalabad",
             "Saint Petersburg", "Saint Petersburg", "Saint Petersburg", "Saint Petersburg", "Saint Petersburg",
             "Mexico", "Mexico", "Mexico", "Mexico", "Mexico",
             "Casablanca", "Casablanca", "Casablanca", "Casablanca", "Casablanca",
             "Lahore", "Lahore", "Lahore", "Lahore", "Lahore",
             "Moscow", "Moscow", "Moscow", "Moscow", "Moscow"],
    "date": ["2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01",
             "2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01",
             "2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01"],
    "avg_temp_c": [12.792, 14.339, 20.309, 29.072, 34.845,
                   12.355, 17.185, 17.234, 17.153, None,
                   12.694, 14.677, 17.376, 18.294, 18.562,
                   19.217, 23.649, 27.488, 27.952, None,
                   12.792, 14.339, 20.309, 29.072, 34.845,
                   16.152, 18.718, 18.136, 17.485, None]
}

temperatures_ind = pd.DataFrame(data)

# Sort the index of temperatures_ind
temperatures_srt = temperatures_ind.sort_index()

# Subset rows from India, Hyderabad to Iraq, Baghdad
print(temperatures_srt.loc[("India","Hyderabad"):("Iraq","Baghdad")])

# Subset columns from date to avg_temp_c
print(temperatures_srt.loc[:, "date":"avg_temp_c"])



# Subset in both directions at once
print(temperatures_srt.loc[("India","Hyderabad"):("Iraq","Baghdad"),"date":"avg_temp_c"])

In [ ]:
import pandas as pd

# Creating a dictionary with the data
data = {
    "country": ["Pakistan", "Pakistan", "Pakistan", "Pakistan", "Pakistan",
                "Russia", "Russia", "Russia", "Russia", "Russia",
                "Mexico", "Mexico", "Mexico", "Mexico", "Mexico",
                "Morocco", "Morocco", "Morocco", "Morocco", "Morocco",
                "Pakistan", "Pakistan", "Pakistan", "Pakistan", "Pakistan",
                "Russia", "Russia", "Russia", "Russia", "Russia"],
    "city": ["Faisalabad", "Faisalabad", "Faisalabad", "Faisalabad", "Faisalabad",
             "Saint Petersburg", "Saint Petersburg", "Saint Petersburg", "Saint Petersburg", "Saint Petersburg",
             "Mexico", "Mexico", "Mexico", "Mexico", "Mexico",
             "Casablanca", "Casablanca", "Casablanca", "Casablanca", "Casablanca",
             "Lahore", "Lahore", "Lahore", "Lahore", "Lahore",
             "Moscow", "Moscow", "Moscow", "Moscow", "Moscow"],
    "date": ["2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01",
             "2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01",
             "2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01"],
    "avg_temp_c": [12.792, 14.339, 20.309, 29.072, 34.845,
                   12.355, 17.185, 17.234, 17.153, None,
                   12.694, 14.677, 17.376, 18.294, 18.562,
                   19.217, 23.649, 27.488, 27.952, None,
                   12.792, 14.339, 20.309, 29.072, 34.845,
                   16.152, 18.718, 18.136, 17.485, None]
}

temperatures_ind = pd.DataFrame(data)

# Sort the index of temperatures_ind
temperatures_srt = temperatures_ind.sort_index()


# Use Boolean conditions to subset temperatures for rows in 2010 and 2011
temperatures_bool = temperatures.loc[(temperatures["date"] >= "2010-01-01") & (temperatures["date"] <= "2011-12-01")]
print(temperatures_bool)



# Set date as the index and sort the index
temperatures_ind = temperatures.set_index("date").sort_index()

# Use .loc[] to subset temperatures_ind for rows in 2010 and 2011
print(temperatures_ind.loc["2010":"2011"])

# Use .loc[] to subset temperatures_ind for rows from Aug 2010 to Feb 2011
print(temperatures_ind.loc["2010-08":"2011-02"])

In [6]:
import pandas as pd

# Creating a dictionary with the data
data = {
    "country": ["Pakistan", "Pakistan", "Pakistan", "Pakistan", "Pakistan",
                "Russia", "Russia", "Russia", "Russia", "Russia",
                "Mexico", "Mexico", "Mexico", "Mexico", "Mexico",
                "Morocco", "Morocco", "Morocco", "Morocco", "Morocco",
                "Pakistan", "Pakistan", "Pakistan", "Pakistan", "Pakistan",
                "Russia", "Russia", "Russia", "Russia", "Russia"],
    "city": ["Faisalabad", "Faisalabad", "Faisalabad", "Faisalabad", "Faisalabad",
             "Saint Petersburg", "Saint Petersburg", "Saint Petersburg", "Saint Petersburg", "Saint Petersburg",
             "Mexico", "Mexico", "Mexico", "Mexico", "Mexico",
             "Casablanca", "Casablanca", "Casablanca", "Casablanca", "Casablanca",
             "Lahore", "Lahore", "Lahore", "Lahore", "Lahore",
             "Moscow", "Moscow", "Moscow", "Moscow", "Moscow"],
    "date": ["2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01",
             "2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01",
             "2000-01-01", "2000-02-01", "2000-03-01", "2000-04-01", "2000-05-01",
             "2013-05-01", "2013-06-01", "2013-07-01", "2013-08-01", "2013-09-01"],
    "avg_temp_c": [12.792, 14.339, 20.309, 29.072, 34.845,
                   12.355, 17.185, 17.234, 17.153, None,
                   12.694, 14.677, 17.376, 18.294, 18.562,
                   19.217, 23.649, 27.488, 27.952, None,
                   12.792, 14.339, 20.309, 29.072, 34.845,
                   16.152, 18.718, 18.136, 17.485, None]
}

temperatures = pd.DataFrame(data)

# Use slicing to get the first 5 rows
print(temperatures.iloc[:6])

# Use slicing to get columns 3 to 4
print(temperatures.iloc[:,2:4])

# Use slicing in both directions at once
print(temperatures.iloc[:5, 2:4])

    country              city        date  avg_temp_c
0  Pakistan        Faisalabad  2000-01-01      12.792
1  Pakistan        Faisalabad  2000-02-01      14.339
2  Pakistan        Faisalabad  2000-03-01      20.309
3  Pakistan        Faisalabad  2000-04-01      29.072
4  Pakistan        Faisalabad  2000-05-01      34.845
5    Russia  Saint Petersburg  2013-05-01      12.355
          date  avg_temp_c
0   2000-01-01      12.792
1   2000-02-01      14.339
2   2000-03-01      20.309
3   2000-04-01      29.072
4   2000-05-01      34.845
5   2013-05-01      12.355
6   2013-06-01      17.185
7   2013-07-01      17.234
8   2013-08-01      17.153
9   2013-09-01         NaN
10  2000-01-01      12.694
11  2000-02-01      14.677
12  2000-03-01      17.376
13  2000-04-01      18.294
14  2000-05-01      18.562
15  2013-05-01      19.217
16  2013-06-01      23.649
17  2013-07-01      27.488
18  2013-08-01      27.952
19  2013-09-01         NaN
20  2000-01-01      12.792
21  2000-02-01      14.339
22  2000-03-01      20.309
23  2000-04-01      29.072
24  2000-05-01      34.845
25  2013-05-01      16.152
26  2013-06-01      18.718
27  2013-07-01      18.136
28  2013-08-01      17.485
29  2013-09-01         NaN
         date  avg_temp_c
0  2000-01-01      12.792
1  2000-02-01      14.339
2  2000-03-01      20.309
3  2000-04-01      29.072
4  2000-05-01      34.845