In [ ]:
#this is older way of f string
x = "I am {} and I am from {}"
country="Nepal"
name = "awasumina"

print(x.format(name,country))

I am Sumina and I am from Nepal

In [13]:
#newer way:
#python 3.6 onwards
country="Nepal"
name = "awasumina"
print(f"I am {name} and I am from {country}")
print(f"I am {{name}} and I am from {{country}}") #if want to display the fstring

I am awasumina and I am from Nepal
I am {name} and I am from {country}

In [ ]:
#old way
txt = "The value Rs.{price:.2f}"
print(txt.format(price=49.19999999))

The value Rs.49.20

In [12]:
price=49.19999999
txt = f"The value Rs.{price:.2f}"
print(txt)

The value Rs.49.20