In [ ]:
#ordered mutable
l=[1,2,3,4,5]
print(l)
print(type(l))
print(l[2])

[1, 2, 3, 4, 5]
<class 'list'>
3

In [ ]:
# list can contain all type of datatype
l=[1,True,"awa"]
print(l[2])

awa

In [ ]:
l=[1,True,"awa"]
if "awa" in l:
  print("list has awa")

if "1" in l:
  print("list has string one")
else:
  print("list doesnt have string 1")

list has awa
list doesnt have string 1

In [ ]:
if "a" in "sumina":
  print("same for string")

same for string

In [ ]:
l=[1,True,"awa",3,5,"miss"]
print(l[:3])
print(l[1:-2])
print(l[1:5:2])

[1, True, 'awa']
[True, 'awa', 3]
[True, 3]

In [ ]:
#list comprehension

lst = [i for i in range(4)]
print(lst)

lst = [i for i in range(4) if i%2==0]
print(lst)

[0, 1, 2, 3]
[0, 2]

In [ ]:
l=[1,2,6,4,2,9,6]
print(l)

l.append(8)
print(l)

l.sort()
print(l)

l.sort(reverse=True)
print(l)

l.reverse()
print(l)

print(l.index(6))

print(l.count(2))

[1, 2, 6, 4, 2, 9, 6]
[1, 2, 6, 4, 2, 9, 6, 8]
[1, 2, 2, 4, 6, 6, 8, 9]
[9, 8, 6, 6, 4, 2, 2, 1]
[1, 2, 2, 4, 6, 6, 8, 9]
4
2

In [ ]:
l=[1,2,6,4,2,9,6]
m=l
m[0]=0
print(l)

#the content of l is changed as m is reference of l so use copy if required

[0, 2, 6, 4, 2, 9, 6]

In [ ]:
l=[1,2,6,4,2,9,6]
m=l.copy()
m[0]=0
print(l)

#use of copy doesnt change the content of l

[1, 2, 6, 4, 2, 9, 6]

In [ ]:
l=[1,2,6,4,2,9,6]
l.insert(0,55)      #inser 55 at index 0
print(l)

[55, 1, 2, 6, 4, 2, 9, 6]

In [ ]:
l=[1,2,6,4,2,9,6]
m=[44,55,66]
l.extend(m)
print(l)    #this changes content of l
print("\n")

l=[1,2,6,4,2,9,6]
m=[44,55,66]
k=l+m
print(l)    #l content doesnt changeas k is created
print(k)

[1, 2, 6, 4, 2, 9, 6, 44, 55, 66]


[1, 2, 6, 4, 2, 9, 6]
[1, 2, 6, 4, 2, 9, 6, 44, 55, 66]