In [2]:
import pandas as pd

data = {
    'id': [11, 14290, 19, 9672, 12819, 3089, 11934, 13807, 73873, 11622],
    'title': ['Oliver Twist', 'Better Luck Tomorrow', 'Grown Ups', 'Infamous', 'Alpha and Omega',
              'Red River', 'The Hudsucker Proxy', 'Exiled', 'Albert Nobbs', 'Blast from the Past'],
    'popularity': [20.416, 3.877, 38.864, 3.681, 12.301, 5.345, 14.189, 8.486, 7.802, 8.737],
    'release_date': ['2005-09-23', '2002-01-12', '2010-06-24', '2006-11-16', '2010-09-17',
                     '1948-08-26', '1994-03-11', '2006-09-06', '2011-12-21', '1999-02-12']
}

movies = pd.DataFrame(data)

scifi_data = {
    'movie_id': [11, 18, 19, 38, 62, 335866, 347548, 360188, 367551, 371690],
    'genre': ['Science Fiction', 'Science Fiction', 'Science Fiction', 'Science Fiction', 'Science Fiction',
              'Science Fiction', 'Science Fiction', 'Science Fiction', 'Science Fiction', 'Science Fiction']
}

scifi_movies = pd.DataFrame(scifi_data)

action_data = {
    'movie_id': [11, 18, 22, 24, 58, 381902, 385383, 389425, 407887, 417859],
    'genre': ['Action', 'Action', 'Action', 'Action', 'Action',
              'Action', 'Action', 'Action', 'Action', 'Action']
}

action_movies = pd.DataFrame(action_data)


# Merge action_movies to the scifi_movies with right join
action_scifi = action_movies.merge(scifi_movies, on='movie_id', how='right',
                                   suffixes=('_act','_sci'))

# From action_scifi, select only the rows where the genre_act column is null
scifi_only = action_scifi[action_scifi['genre_act'].isnull()]

# Merge the movies and scifi_only tables with an inner join
movies_and_scifi_only = movies.merge(scifi_only, left_on="id",right_on="movie_id" ,how='inner')

# Print the first few rows and shape of movies_and_scifi_only
print(movies_and_scifi_only.head())
print(movies_and_scifi_only.shape)

   id      title  popularity release_date  movie_id genre_act        genre_sci
0  19  Grown Ups      38.864   2010-06-24        19       NaN  Science Fiction
(1, 7)

In [9]:
import pandas as pd

iron_1_actors_data = {
    'character': [
        'Yinsen', 'Virginia "Pepper" Potts', 'Obadiah Stane / Iron Monger', 'War Machine',
        'Christine Everhart', 'Reporter (uncredited)', 'News Cameraman (uncredited)',
        'Rooftop Fireman (uncredited)', 'Whiplash One (voice) (uncredited)', 'Reporter (uncredited)'
    ],
    'id': [
        17857, 12052, 1229, 18288, 57451, 1209728, 1209729, 1209730, 1209731, 1429470
    ],
    'name': [
        'Shaun Toub', 'Gwyneth Paltrow', 'Jeff Bridges', 'Terrence Howard', 'Leslie Bibb',
        'Chris Reid', 'Toi Rose', 'George F. Watson', 'David Zyler', 'Nick W. Nicholson'
    ]
}

iron_1_actors = pd.DataFrame(iron_1_actors_data)

iron_2_actors_data = {
    'character': [
        'Ivan Vanko / Whiplash', 'Natalie Rushman / Natasha Romanoff / Black Widow',
        'Justin Hammer', 'Director Nick Fury', 'Virginia "Pepper" Potts',
        'US Senator (uncredited)', 'Background (uncredited)',
        'Tony Stark Usher (uncredited)', 'Expo Attendee (uncredited)',
        'Stark Expo Attendee (uncredited)'
    ],
    'id': [
        2295, 1245, 6807, 2231, 12052, 1265840, 1265841, 1122811, 1205141, 1429470
    ],
    'name': [
        'Mickey Rourke', 'Scarlett Johansson', 'Sam Rockwell', 'Samuel L. Jackson',
        'Gwyneth Paltrow', 'Michael A. Templeton', 'Rosa Tyabji',
        'Peter Sebastian Wrobel', 'Maria Zambrana', 'Nick W. Nicholson'
    ]
}

iron_2_actors = pd.DataFrame(iron_2_actors_data)


# Merge iron_1_actors to iron_2_actors on id with outer join using suffixes
iron_1_and_2 = iron_1_actors.merge(iron_2_actors,
                                     on="id",
                                     how="outer",
                                     suffixes=('_1','_2'))

# Create an index that returns true if name_1 or name_2 are null
m = ((iron_1_and_2['name_1'].isnull()) |
     (iron_1_and_2['name_2'].isnull()))

# Print the first few rows of iron_1_and_2
print(iron_1_and_2[m].head())

                   character_1       id           name_1 character_2 name_2
0                       Yinsen    17857       Shaun Toub         NaN    NaN
2  Obadiah Stane / Iron Monger     1229     Jeff Bridges         NaN    NaN
3                  War Machine    18288  Terrence Howard         NaN    NaN
4           Christine Everhart    57451      Leslie Bibb         NaN    NaN
5        Reporter (uncredited)  1209728       Chris Reid         NaN    NaN

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

pop_movies_data = {
    'id': [211672, 157336, 293660, 118340, 76341, 135397, 22, 119450, 131631, 177572],
    'title': ['Minions', 'Interstellar', 'Deadpool', 'Guardians of the Galaxy', 'Mad Max: Fury Road',
              'Jurassic World', 'Pirates of the Caribbean: The Curse of the Black Pearl',
              'Dawn of the Planet of the Apes', 'The Hunger Games: Mockingjay - Part 1', 'Big Hero 6'],
    'popularity': [875.581, 724.248, 514.570, 481.099, 434.279, 418.709, 271.973, 243.792, 206.227, 203.735],
    'release_date': ['2015-06-17', '2014-11-05', '2016-02-09', '2014-07-30', '2015-05-13',
                     '2015-06-09', '2003-07-09', '2014-06-26', '2014-11-18', '2014-10-24'],
    'genre': ['Crime', 'Comedy', 'Science Fiction', 'Action', 'Adventure',
              'Drama', 'Thriller', 'Drama', 'Family', 'Documentary']
}

pop_movies = pd.DataFrame(pop_movies_data)

movie_to_genres_data = {
    'movie_id': [5, 5, 11, 11, 11, 426469, 433715, 433715, 447027, 459488],
    'genre': ['Crime', 'Comedy', 'Science Fiction', 'Action', 'Adventure',
              'Drama', 'Thriller', 'Drama', 'Family', 'Documentary']
}

movie_to_genres = pd.DataFrame(movie_to_genres_data)

# Use right join to merge the movie_to_genres and pop_movies tables
genres_movies = movie_to_genres.merge(pop_movies, how='right', left_on='movie_id', right_on='id')


# Count the number of genres 
genre_count = genres_movies.groupby('genre').agg({'id':'count'})

# Plot a bar chart of the genre_count
genre_count.plot(kind='bar')
plt.show()