In [1]:
a=input()
print(a)

hey
hey

In [6]:
a= input("enter your name:")
print("name is " + " " +a)
print("name is ",a)

enter your name:awa
name is  awa
name is  awa

In [10]:
a=input("enter number1:")
b=input("enter number2:")
print(a,b)
print(a+b)
print(int(a)+int(b))

enter number1:23
enter number2:11
23 11
2311
34