In [1]:
import pandas as pd

data = {
    'store': [1, 1, 1, 1, 1, 39, 39, 39, 39, 39],
    'type': ['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'C', 'C'],
    'department': [1, 1, 1, 1, 1, 99, 99, 99, 99, 99],
    'date': ['2010-02-05', '2010-03-05', '2010-04-02', '2010-05-07', '2010-06-04',
             '2011-12-09', '2012-02-03', '2012-06-08', '2012-07-13', '2012-10-05'],
    'weekly_sales': [24924.50, 21827.90, 57258.43, 17413.94, 17558.09,
                     895.00, 350.00, 450.00, 0.06, 915.00],
    'is_holiday': [False, False, False, False, False, False, False, False, False, False],
    'temperature_c': [5.728, 8.056, 16.817, 22.528, 27.050,
                      9.644, 15.939, 27.289, 25.644, 22.250],
    'fuel_price_usd_per_l': [0.679, 0.693, 0.718, 0.749, 0.715,
                             0.834, 0.888, 0.912, 0.860, 0.956],
    'unemployment': [8.106, 8.106, 7.808, 7.808, 7.808,
                     7.716, 7.244, 6.989, 6.623, 6.228]
}
sales = pd.DataFrame(data)

# Pivot for mean weekly_sales for each store type
mean_sales_by_type = sales.pivot_table(values="weekly_sales",index='type')

# Print mean_sales_by_type
print(mean_sales_by_type)

      weekly_sales
type
A        27796.572
B          565.000
C          457.530

In [2]:
import pandas as pd

data = {
    'store': [1, 1, 1, 1, 1, 39, 39, 39, 39, 39],
    'type': ['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'C', 'C'],
    'department': [1, 1, 1, 1, 1, 99, 99, 99, 99, 99],
    'date': ['2010-02-05', '2010-03-05', '2010-04-02', '2010-05-07', '2010-06-04',
             '2011-12-09', '2012-02-03', '2012-06-08', '2012-07-13', '2012-10-05'],
    'weekly_sales': [24924.50, 21827.90, 57258.43, 17413.94, 17558.09,
                     895.00, 350.00, 450.00, 0.06, 915.00],
    'is_holiday': [False, False, False, False, False, False, False, False, False, False],
    'temperature_c': [5.728, 8.056, 16.817, 22.528, 27.050,
                      9.644, 15.939, 27.289, 25.644, 22.250],
    'fuel_price_usd_per_l': [0.679, 0.693, 0.718, 0.749, 0.715,
                             0.834, 0.888, 0.912, 0.860, 0.956],
    'unemployment': [8.106, 8.106, 7.808, 7.808, 7.808,
                     7.716, 7.244, 6.989, 6.623, 6.228]
}
sales = pd.DataFrame(data)

# Import NumPy as np
import numpy as np

# Pivot for mean and median weekly_sales for each store type
mean_med_sales_by_type = sales.pivot_table(values="weekly_sales",index="type",aggfunc=[np.mean,np.median])

# Print mean_med_sales_by_type
print(mean_med_sales_by_type)

             mean       median
     weekly_sales weekly_sales
type
A       27796.572     21827.90
B         565.000       450.00
C         457.530       457.53

In [3]:
import pandas as pd

data = {
    'store': [1, 1, 1, 1, 1, 39, 39, 39, 39, 39],
    'type': ['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'C', 'C'],
    'department': [1, 1, 1, 1, 1, 99, 99, 99, 99, 99],
    'date': ['2010-02-05', '2010-03-05', '2010-04-02', '2010-05-07', '2010-06-04',
             '2011-12-09', '2012-02-03', '2012-06-08', '2012-07-13', '2012-10-05'],
    'weekly_sales': [24924.50, 21827.90, 57258.43, 17413.94, 17558.09,
                     895.00, 350.00, 450.00, 0.06, 915.00],
    'is_holiday': [False, False, False, False, False, False, False, False, False, False],
    'temperature_c': [5.728, 8.056, 16.817, 22.528, 27.050,
                      9.644, 15.939, 27.289, 25.644, 22.250],
    'fuel_price_usd_per_l': [0.679, 0.693, 0.718, 0.749, 0.715,
                             0.834, 0.888, 0.912, 0.860, 0.956],
    'unemployment': [8.106, 8.106, 7.808, 7.808, 7.808,
                     7.716, 7.244, 6.989, 6.623, 6.228]
}
sales = pd.DataFrame(data)

# Pivot for mean weekly_sales by store type and holiday
mean_sales_by_type_holiday = sales.pivot_table(values="weekly_sales",index="type", columns="is_holiday")

# Print mean_sales_by_type_holiday
print(mean_sales_by_type_holiday)

is_holiday      False
type
A           27796.572
B             565.000
C             457.530

In [4]:
import pandas as pd

data = {
    'store': [1, 1, 1, 1, 1, 39, 39, 39, 39, 39],
    'type': ['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'C', 'C'],
    'department': [1, 1, 1, 1, 1, 99, 99, 99, 99, 99],
    'date': ['2010-02-05', '2010-03-05', '2010-04-02', '2010-05-07', '2010-06-04',
             '2011-12-09', '2012-02-03', '2012-06-08', '2012-07-13', '2012-10-05'],
    'weekly_sales': [24924.50, 21827.90, 57258.43, 17413.94, 17558.09,
                     895.00, 350.00, 450.00, 0.06, 915.00],
    'is_holiday': [False, False, False, False, False, False, False, False, False, False],
    'temperature_c': [5.728, 8.056, 16.817, 22.528, 27.050,
                      9.644, 15.939, 27.289, 25.644, 22.250],
    'fuel_price_usd_per_l': [0.679, 0.693, 0.718, 0.749, 0.715,
                             0.834, 0.888, 0.912, 0.860, 0.956],
    'unemployment': [8.106, 8.106, 7.808, 7.808, 7.808,
                     7.716, 7.244, 6.989, 6.623, 6.228]
}
sales = pd.DataFrame(data)

# Print mean weekly_sales by department and type; fill missing values with 0
print(sales.pivot_table(values="weekly_sales",index="department",columns="type",fill_value=0))

# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
print(sales.pivot_table(values="weekly_sales", index="department", columns="type", fill_value=0,margins=True))

type                A    B       C
department
1           27796.572    0    0.00
99              0.000  565  457.53
type                A    B       C        All
department
1           27796.572    0    0.00  27796.572
99              0.000  565  457.53    522.012
All         27796.572  565  457.53  14159.292